.myTableRow:hover {
  background-color: #f7f9fc;
}

.invalid-input {
  font-size: 80%;
  width: 100%;
  margin-top: 0.25rem;
  color: #fb6340;
}

.btn:not(:last-child) {
  margin-right: 0px;
}

[v-cloak] {
  display: none;
}

